:root{
    --pink: #e84393;
}


*{
    margin:0; padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 51, 153,.05);
}

.heading span{
    color: var(--pink);

}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: var(--pink);
}

section{
    padding: 2rem 9%;
}

header{
    position:fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0.5rem 1rem rgba(0,0,0.1);
}

header.logo{
    font-size: 3rem;
    color: #333;
    font-weight:lighter;
}

header.logo span{
    color: var(--pink)
    
}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}

header .navbar a:hover{
    color: var(--pink);
}

header .icons a{
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color: var(--pink);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5 rem;
    cursor: pointer;
    border: 1rem solid rgba(0, 0, 0, 0,3);
    display: none;
}




.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(../img/IMG_1268\ 1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 6rem;
    color: #333;
}

.home .content span{
    font-size: 3.5rem;
    color:var(--pink);
    padding: 1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 1.5rem;
    color:#999;
    padding: 1rem 0;
    line-height: 1.5;
}


.about .row{
    display:flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2 rem 0;
    padding-bottom: 3rem;
}

.about .row .video-container{
    flex: 1 1 40rem;
    position: relative;
}

.about .row .video-container video{
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0.1);
    height: 100%;
    object-fit: cover;
}

.about .row .video-container h3{
    position: absolute;
    top: 50%; transform: translateY(-50%);
    font-size: 3rem;
    background: #fff;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.about .row .content{
    flex: 1 1 40rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: #333;
}

.about .row .content p{
    font-size: 1.5rem;
    color: #999;
    padding: .5rem;
    padding-top: 1rem;
    line-height: 1.5rem;
}


.artist .box-container{
    display: flex;
    flex-wrap:wrap;
    gap: 1.5ram;
}

.artist .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0.1);
    border-radius: .5rem;
    border: 1rem  rgb(145, 145, 145);
    position: relative;
}

.artist .box-container .box .camilo{
    position: absolute;
    top: 1rem; left:1rem;
    padding: 7rem 1rem;
    font-size: 2rem;
    color: var(--pink);
    background: rgba(255, 51, 153, .05);
    z-index: 1;
    border-radius: .5rem;
}

.artist .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow-x: hidden;
}

.artist .box-container .box .image img{
    height: 25rem;
}

.artist .box-container .box:hover .image img {
    transform: scale(1.1);
}

.artist .box-container .box:hover .image .icons{
    position:absolute;
    bottom: 0; left: 0; right: 0;
    display: flex;
}

.artist .box-container .box:hover .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width:50%;
    background: var(--pink);
    color: #fff;

}

.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.review .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0.5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
}

.review .box-container .box .fa-quote-right{
    position: absolute;
    bottom: 3rem; right:3rem;
    font-size: 6rem;
    color: #eee;
}

.review .box-container .box .stars i{
    color: var(--pink);
    font-size: 2rem;

}

.review .box-container .box p{
    color: #999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
    
}


.review .box-container .box .user{
    display: var(--pink);
    align-items: center;
    padding: 2rem;
    
}

.review .box-container .box .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;

}

.review .box-container .box .user h3{
    font-size: 2rem;
    color:#333;
}

.review .box-container .box .user h3{
    font-size: 1.5rem;
    color:#999;
}

.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
    align-items: center;
}

.contact .row form{
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border: 1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}

.contact .row .image{
    flex: 1 1 40rem;
}

.contact .row image img{
    width: 100%;
}

.contact .row form .box{
    padding:1rem;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin: .7rem 0;
    width: 100%;
}

.contact .row form .box:focus{
    border-color: var(--pink);
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
}
    

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .box{
    flex:1 1 25rem;
}

.footer .box-container .box h3{
    color:#333;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a:hover{
    color: var(--pink);
    text-decoration: underline;
}

.footer .credit{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #333;
    border-top: .1rem solid rgba(0,0,0,.1);
}

.footer .credit span{
    color: var(--pink);
}
















/*media queries*/
@media (max-width:991px){

    html{
        font-size: 55%;
        
    }

    header{
        padding:2rem;
    }


    section{
        padding:2rem;
    }

    .home{
        background-position: left;
    }
}


@media(max-width:768px){

    header .fa-bars{
        display: block;
    }

    header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background: #eee;
        border-top: .1rem solid rgba(0,0,0.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    } 

    header .navbar a{
        margin:1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0,0,0.1);
        display: block;
    }

    .home .content h3{
        font-size: 5rem;
    }

    .home .content span{
        font-size: 2.5rem;
    }
}


@media (max-width:450px){

    html{
        font-size: 50%;
        
    }

    .heading{
        font-size: 3rem;
    }
}






/* custom CSS rules for "pagina2.html" */

:root{
    --blue: #8cacba;
}




html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 51, 153,.05);
}

.heading span{
    color: var(--blue);
}

.btn1{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: var(--blue);
}

section{
    padding: 2rem 9%;
}

header{
    position:fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0.5rem 1rem rgba(0,0,0.1);
}

header.logo{
    font-size: 3rem;
    color: #333;
    font-weight:lighter;
}

header.logo span{
    color: var(--blue)
    
}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}

header .navbar a:hover{
    color: var(--blue);
}

header .icons a{
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color: var(--blue);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5 rem;
    cursor: pointer;
    border: 1rem solid rgba(0, 0, 0, 0,3);
    display: none;
}

.home2{
    display: flex;
    align-items: center;
    min-height: 130vh;
    background: url(../img/camilo.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content2{
    max-width: 50rem;
}

.home2 .content2 h3{
    font-size: 6rem;
    color: #333;
}

.home2 .content2 span{
    font-size: 5rem;
    color: var(--blue);
    padding: 1rem 0;
    line-height: 1.5;
}

.home2 .content2 p{
    font-size: 1.5rem;
    color:#000000;
    padding: 0.5rem;
    line-height: 1.5rem;
}

.about .row2{
    display:flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2 rem 0;
    padding-bottom: 3rem;
}

.about .row2 .image2{
    flex: 2 2 40rem;
    position: static;
}

.about .row2 .image2{
    width: 100%;
    border: 1rem solid #fff;
    border-radius: .2rem;
    height: 100%;
    object-fit:cover;
}

.about .row2 .content2{
    flex: 1 1 40rem;
}

.about .row2 .content2 h3{
    font-size: 5rem;
    color: #333;
}

.about .row2 .content2 p{
    font-size: 1.5rem;
    color: #999;
    padding: .5rem;
    padding-top: 1.5rem;
    line-height: 1.5rem;
}


.text2 .row2{
    display:flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2 rem 0;
    padding-bottom: 3rem;
}

.text2 .row2 .image2{
    flex: 2 2 40rem;
    position: static;
}

.text2 .row2 .image2{
    width: 100%;
    border: 1rem solid #fff;
    border-radius: .2rem;
    height: 100%;
    object-fit:cover;
}

.text2 .row2 .content2{
    flex: 1 1 40rem;
}



.text2 .row2 .content2 p{
    font-size: 1.5rem;
    color: #999;
    padding: .5rem;
    padding-top: 1.5rem;
    line-height: 1.5rem;
}

.text2 .row2 .content2 p1{
    font-size: 1.5rem;
    color: #999;
    padding: .5rem;
    padding-top: 1.5rem;
    line-height: 1.5rem;
}

.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.review .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0.5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
}

.review .box-container .box .fa-quote-right{
    position: absolute;
    bottom: 3rem; right:3rem;
    font-size: 6rem;
    color: #eee;
}

.review .box-container .box .stars i{
    color: var(--pink);
    font-size: 2rem;

}

.review .box-container .box p{
    color: #999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
    
}


.review .box-container .box .user{
    display: var(--pink);
    align-items: center;
    padding: 2rem;
    
}

.review .box-container .box .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;

}

.review .box-container .box .user h3{
    font-size: 2rem;
    color:#333;
}

.review .box-container .box .user h3{
    font-size: 1.5rem;
    color:#999;
}

.contact2 .row2{
    display: flex;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
    align-items: center;
}

.contact2 .row2 form{
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border: 1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}

.contact2 .row2 .image2{
    flex: 1 1 40rem;
}

.contact2 .row2 .image2 img{
    width: 100%;
}

.contact2 .row2 form .box{
    padding:1rem;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin: .7rem 0;
    width: 100%;
}

.contact2 .row2 form .box:focus{
    border-color: var(--pink);
}

.contact2 .row2 form textarea{
    height: 15rem;
    resize: none;
}

.footer2 .box-container2{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer2 .box-container2 .box2{
    flex:1 1 25rem;
}

.footer2 .box-container2 .box2 h3{
    color:#333;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer2 .box-container2 .box2 a{
    display: block;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer2 .box-container .box2 a:hover{
    color: var(--pink);
    text-decoration: underline;
}

.footer2 .credit2{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #333;
    border-top: .1rem solid rgba(0,0,0,.1);
}

.footer2 .credit span{
    color: var(--pink);
}


/* custom CSS rules for "pagina3.html" */

:root{
    --blue: #8cacba;
}




html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 51, 153,.05);
}

.heading span{
    color: var(--blue);
}

.btn1{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: var(--blue);
}

section{
    padding: 2rem 9%;
}

header{
    position:fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0.5rem 1rem rgba(0,0,0.1);
}

header.logo{
    font-size: 3rem;
    color: #333;
    font-weight:lighter;
}

header.logo span{
    color: var(--blue)
    
}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}

header .navbar a:hover{
    color: var(--blue);
}

header .icons a{
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color: var(--blue);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5 rem;
    cursor: pointer;
    border: 1rem solid rgba(0, 0, 0, 0,3);
    display: none;
}

.home3{
    display: flex;
    align-items: center;
    min-height: 130vh;
    background: url(../img/tim.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home3 .content3{
    max-width: 50rem;
}

.home3 .content3 h3{
    font-size: 6rem;
    color: #333;
}

.home3 .content3 span{
    font-size: 5rem;
    color: var(--blue);
    padding: 1rem 0;
    line-height: 1.5;
}

.home3 .content3 p{
    font-size: 1.5rem;
    color:#000000;
    padding: 0.5rem;
    line-height: 1.5rem;
}

.about .row3{
    display:flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2 rem 0;
    padding-bottom: 3rem;
}

.about .row3 .image3{
    flex: 2 2 40rem;
    position: static;
}

.about .row3 .image3{
    width: 100%;
    border: 1rem solid #fff;
    border-radius: .2rem;
    height: 100%;
    object-fit:cover;
}

.about .row3 .content3{
    flex: 1 1 40rem;
}

.about .row3 .content3 h3{
    font-size: 5rem;
    color: #333;
}

.about .row3 .content3 p{
    font-size: 1.5rem;
    color: #999;
    padding: .5rem;
    padding-top: 1.5rem;
    line-height: 1.5rem;
}


.text3 .row3{
    display:flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2 rem 0;
    padding-bottom: 3rem;
}

.text3 .row3 .image3{
    flex: 2 2 40rem;
    position: static;
}

.text .row2 .image2{
    width: 100%;
    border: 1rem solid #fff;
    border-radius: .2rem;
    height: 100%;
    object-fit:cover;
}

.text3 .row3 .content3{
    flex: 1 1 40rem;
}



.text3 .row3 .content3 p{
    font-size: 1.5rem;
    color: #999;
    padding: .5rem;
    padding-top: 1.5rem;
    line-height: 1.5rem;
}

.text3 .row3 .content3 p1{
    font-size: 1.5rem;
    color: #999;
    padding: .5rem;
    padding-top: 1.5rem;
    line-height: 1.5rem;
}

.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.review .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0.5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
}

.review .box-container .box .fa-quote-right{
    position: absolute;
    bottom: 3rem; right:3rem;
    font-size: 6rem;
    color: #eee;
}

.review .box-container .box .stars i{
    color: var(--pink);
    font-size: 2rem;

}

.review .box-container .box p{
    color: #999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
    
}


.review .box-container .box .user{
    display: var(--pink);
    align-items: center;
    padding: 2rem;
    
}

.review .box-container .box .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;

}

.review .box-container .box .user h3{
    font-size: 2rem;
    color:#333;
}

.review .box-container .box .user h3{
    font-size: 1.5rem;
    color:#999;
}

.contact3 .row3{
    display: flex;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
    align-items: center;
}

.contact3 .row3 form{
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border: 1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}

.contact3 .row .image3{
    flex: 1 1 40rem;
}

.contact3 .row3 .image3 img{
    width: 100%;
}

.contact3 .row3 form .box{
    padding:1rem;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin: .7rem 0;
    width: 100%;
}

.contact3 .row3 form .box:focus{
    border-color: var(--pink);
}

.contact3 .row3 form textarea{
    height: 15rem;
    resize: none;
}

.footer3 .box-container3{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer3 .box-container3 .box3{
    flex:1 1 25rem;
}

.footer3 .box-container3 .box3 h3{
    color:#333;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer3 .box-container3 .box3 a{
    display: block;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer3 .box-container3 .box3 a:hover{
    color: var(--pink);
    text-decoration: underline;
}

.footer3 .credit3{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #333;
    border-top: .1rem solid rgba(0,0,0,.1);
}

.footer3 .credit3 span{
    color: var(--pink);
}

/* custom CSS rules for "pagina4.html" */

:root{
    --blue: #8cacba;
}




html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 51, 153,.05);
}

.heading span{
    color: var(--blue);
}

.btn1{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: var(--blue);
}

section{
    padding: 2rem 9%;
}

header{
    position:fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0.5rem 1rem rgba(0,0,0.1);
}

header.logo{
    font-size: 3rem;
    color: #333;
    font-weight:lighter;
}

header.logo span{
    color: var(--blue)
    
}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}

header .navbar a:hover{
    color: var(--blue);
}

header .icons a{
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color: var(--blue);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5 rem;
    cursor: pointer;
    border: 1rem solid rgba(0, 0, 0, 0,3);
    display: none;
}

.home4{
    display: flex;
    align-items: center;
    min-height: 130vh;
    background: url(../img/karlotta.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home4 .content4{
    max-width: 50rem;
}

.home4 .content4 h3{
    font-size: 6rem;
    color: #333;
}

.home4 .content4 span{
    font-size: 5rem;
    color: var(--blue);
    padding: 1rem 0;
    line-height: 1.5;
}

.home4 .content4 p{
    font-size: 1.5rem;
    color:#000000;
    padding: 0.5rem;
    line-height: 1.5rem;
}

.about .row4{
    display:flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2 rem 0;
    padding-bottom: 3rem;
}

.about .row4 .image4{
    flex: 2 2 40rem;
    position: static;
}

.about .row4 .image4{
    width: 100%;
    border: 1rem solid #fff;
    border-radius: .2rem;
    height: 100%;
    object-fit:cover;
}

.about .row4 .content4{
    flex: 1 1 40rem;
}

.about .row4 .content4 h3{
    font-size: 5rem;
    color: #333;
}

.about .row4 .content4 p{
    font-size: 1.5rem;
    color: #999;
    padding: .5rem;
    padding-top: 1.5rem;
    line-height: 1.5rem;
}


.text4 .row4{
    display:flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2 rem 0;
    padding-bottom: 3rem;
}

.text4 .row4 .image4{
    flex: 2 2 40rem;
    position: static;
}

.text4 .row4 .image4{
    width: 100%;
    border: 1rem solid #fff;
    border-radius: .2rem;
    height: 100%;
    object-fit:cover;
}

.text4 .row4 .content4{
    flex: 1 1 40rem;
}



.text4 .row4 .content4 p{
    font-size: 1.5rem;
    color: #999;
    padding: .5rem;
    padding-top: 1.5rem;
    line-height: 1.5rem;
}

.text4 .row4 .content4 p1{
    font-size: 1.5rem;
    color: #999;
    padding: .5rem;
    padding-top: 1.5rem;
    line-height: 1.5rem;
}

.review .box-container4{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.review .box-container4 .box4{
    flex: 1 1 30rem;
    box-shadow: 0.5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
}

.review .box-container4 .box4 .fa-quote-right{
    position: absolute;
    bottom: 3rem; right:3rem;
    font-size: 6rem;
    color: #eee;
}

.review .box-container4 .box4 .stars i{
    color: var(--pink);
    font-size: 2rem;

}

.review .box-container4 .box4 p{
    color: #999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
    
}


.review .box-container4 .box4 .user{
    display: var(--pink);
    align-items: center;
    padding: 2rem;
    
}

.review .box-container4 .box4 .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;

}

.review .box-container4 .box4 .user h3{
    font-size: 2rem;
    color:#333;
}

.review .box-container4 .box4 .user h3{
    font-size: 1.5rem;
    color:#999;
}

.contact4 .row4{
    display: flex;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
    align-items: center;
}

.contact4 .row4 form{
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border: 1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}

.contact4 .row4 .image4{
    flex: 1 1 40rem;
}

.contact4 .row4 .image4 img{
    width: 100%;
}

.contact4 .row4 form .box{
    padding:1rem;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin: .7rem 0;
    width: 100%;
}

.contact4 .row4 form .box:focus{
    border-color: var(--pink);
}

.contact4 .row4 form textarea{
    height: 15rem;
    resize: none;
}

.footer4 .box-container4{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer4 .box-container4 .box4{
    flex:1 1 25rem;
}

.footer4 .box-container4 .box4 h3{
    color:#333;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer4 .box-container4 .box4 a{
    display: block;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer4 .box-container4 .box4 a:hover{
    color: var(--pink);
    text-decoration: underline;
}

.footer4 .credit4{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #333;
    border-top: .1rem solid rgba(0,0,0,.1);
}

.footer4 .credit4 span{
    color: var(--pink);
}

/* custom CSS rules for "pagina5.html" */

:root{
    --blue: #8cacba;
}




html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 51, 153,.05);
}

.heading span{
    color: var(--blue);
}

.btn1{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: var(--blue);
}

section{
    padding: 2rem 9%;
}

header{
    position:fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0.5rem 1rem rgba(0,0,0.1);
}

header.logo{
    font-size: 3rem;
    color: #333;
    font-weight:lighter;
}

header.logo span{
    color: var(--blue)
    
}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}

header .navbar a:hover{
    color: var(--blue);
}

header .icons a{
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color: var(--blue);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5 rem;
    cursor: pointer;
    border: 1rem solid rgba(0, 0, 0, 0,3);
    display: none;
}

.home5{
    display: flex;
    align-items: center;
    min-height: 130vh;
    background: url(../img/xoana.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home5 .content5{
    max-width: 50rem;
}

.home5 .content5 h3{
    font-size: 6rem;
    color: #333;
}

.home5 .content5 span{
    font-size: 5rem;
    color: var(--blue);
    padding: 1rem 0;
    line-height: 1.5;
}

.home5 .content5 p{
    font-size: 1.5rem;
    color:#000000;
    padding: 0.5rem;
    line-height: 1.5rem;
}

.about .row5{
    display:flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2 rem 0;
    padding-bottom: 3rem;
}

.about .row5 .image5{
    flex: 2 2 40rem;
    position: static;
}

.about .row5 .image5{
    width: 100%;
    border: 1rem solid #fff;
    border-radius: .2rem;
    height: 100%;
    object-fit:cover;
}

.about .row5 .content5{
    flex: 1 1 40rem;
}

.about .row5 .content5 h3{
    font-size: 5rem;
    color: #333;
}

.about .row5 .content5 p{
    font-size: 1.5rem;
    color: #999;
    padding: .5rem;
    padding-top: 1.5rem;
    line-height: 1.5rem;
}


.text5 .row5{
    display:flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2 rem 0;
    padding-bottom: 3rem;
}

.text5 .row5 .image5{
    flex: 2 2 40rem;
    position: static;
}

.text5 .row5 .image5{
    width: 100%;
    border: 1rem solid #fff;
    border-radius: .2rem;
    height: 100%;
    object-fit:cover;
}

.text5 .row5 .content5{
    flex: 1 1 40rem;
}



.text5 .row5 .content5 p{
    font-size: 1.5rem;
    color: #999;
    padding: .5rem;
    padding-top: 1.5rem;
    line-height: 1.5rem;
}

.text5 .row5 .content5 p1{
    font-size: 1.5rem;
    color: #999;
    padding: .5rem;
    padding-top: 1.5rem;
    line-height: 1.5rem;
}

.review .box-container5{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.review .box-container5 .box5{
    flex: 1 1 30rem;
    box-shadow: 0.5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
}

.review .box-container5 .box5 .fa-quote-right{
    position: absolute;
    bottom: 3rem; right:3rem;
    font-size: 6rem;
    color: #eee;
}

.review .box-container5 .box5 .stars i{
    color: var(--pink);
    font-size: 2rem;

}

.review .box-container5 .box5 p{
    color: #999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
    
}


.review .box-container5 .box5 .user{
    display: var(--pink);
    align-items: center;
    padding: 2rem;
    
}

.review .box-container5 .box5 .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;

}

.review .box-container5 .box5 .user h3{
    font-size: 2rem;
    color:#333;
}

.review .box-container5 .box5 .user h3{
    font-size: 1.5rem;
    color:#999;
}

.contact5 .row5{
    display: flex;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
    align-items: center;
}

.contact5 .row5 form{
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border: 1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}

.contact5 .row5 .image5{
    flex: 1 1 40rem;
}

.contact5 .row5 .image5 img{
    width: 100%;
}

.contact5 .row5 form .box{
    padding:1rem;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin: .7rem 0;
    width: 100%;
}

.contact5 .row5 form .box:focus{
    border-color: var(--pink);
}

.contact5 .row5 form textarea{
    height: 15rem;
    resize: none;
}

.footer5 .box-container5{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer5 .box-container5 .box5{
    flex:1 1 25rem;
}

.footer5 .box-container5 .box5 h3{
    color:#333;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer5 .box-container5 .box5 a{
    display: block;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer5 .box-container5 .box5 a:hover{
    color: var(--pink);
    text-decoration: underline;
}

.footer5 .credit5{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #333;
    border-top: .1rem solid rgba(0,0,0,.1);
}

.footer5 .credit5 span{
    color: var(--pink);
}


/* custom CSS rules for "pagina6.html" */

:root{
    --blue: #8cacba;
}




html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 51, 153,.05);
}

.heading span{
    color: var(--blue);
}

.btn1{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: var(--blue);
}

section{
    padding: 2rem 9%;
}

header{
    position:fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0.5rem 1rem rgba(0,0,0.1);
}

header.logo{
    font-size: 3rem;
    color: #333;
    font-weight:lighter;
}

header.logo span{
    color: var(--blue)
    
}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}

header .navbar a:hover{
    color: var(--blue);
}

header .icons a{
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color: var(--blue);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5 rem;
    cursor: pointer;
    border: 1rem solid rgba(0, 0, 0, 0,3);
    display: none;
}

.home6{
    display: flex;
    align-items: center;
    min-height: 130vh;
    background: url(../img/linn\ \(2\).jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home6 .content6{
    max-width: 50rem;
}

.home6 .content6 h3{
    font-size: 6rem;
    color: #333;
}

.home6 .content6 span{
    font-size: 5rem;
    color: var(--blue);
    padding: 1rem 0;
    line-height: 1.5;
}

.home6 .content6 p{
    font-size: 1.5rem;
    color:#000000;
    padding: 0.5rem;
    line-height: 1.5rem;
}

.about .row6{
    display:flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2 rem 0;
    padding-bottom: 3rem;
}

.about .row6 .image6{
    flex: 2 2 40rem;
    position: static;
}

.about .row6 .image6{
    width: 100%;
    border: 1rem solid #fff;
    border-radius: .2rem;
    height: 100%;
    object-fit:cover;
}

.about .row6 .content6{
    flex: 1 1 40rem;
}

.about .row6 .content6 h3{
    font-size: 5rem;
    color: #333;
}

.about .row6 .content6 p{
    font-size: 1.5rem;
    color: #999;
    padding: .5rem;
    padding-top: 1.5rem;
    line-height: 1.5rem;
}


.text6 .row6{
    display:flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2 rem 0;
    padding-bottom: 3rem;
}

.text6 .row6 .image6{
    flex: 2 2 40rem;
    position: static;
}

.text6 .row6 .image6{
    width: 100%;
    border: 1rem solid #fff;
    border-radius: .2rem;
    height: 100%;
    object-fit:cover;
}

.text6 .row6 .content6{
    flex: 1 1 40rem;
}



.text6 .row6 .content6 p{
    font-size: 1.5rem;
    color: #999;
    padding: .5rem;
    padding-top: 1.5rem;
    line-height: 1.5rem;
}

.text6 .row6 .content6 p1{
    font-size: 1.5rem;
    color: #999;
    padding: .5rem;
    padding-top: 1.5rem;
    line-height: 1.5rem;
}

.review .box-container6{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.review .box-container6 .box6{
    flex: 1 1 30rem;
    box-shadow: 0.5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
}

.review .box-container6 .box6 .fa-quote-right{
    position: absolute;
    bottom: 3rem; right:3rem;
    font-size: 6rem;
    color: #eee;
}

.review .box-container6 .box6 .stars i{
    color: var(--pink);
    font-size: 2rem;

}

.review .box-container6 .box6 p{
    color: #999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
    
}


.review .box-container6 .box6 .user{
    display: var(--pink);
    align-items: center;
    padding: 2rem;
    
}

.review .box-container6 .box6 .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;

}

.review .box-container6 .box6 .user h3{
    font-size: 2rem;
    color:#333;
}

.review .box-container6 .box6 .user h3{
    font-size: 1.5rem;
    color:#999;
}

.contact6 .row6{
    display: flex;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
    align-items: center;
}

.contact6 .row6 form{
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border: 1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}

.contact6 .row6 .image6{
    flex: 1 1 40rem;
}

.contact6 .row6 .image5 img{
    width: 100%;
}

.contact6 .row6 form .box{
    padding:1rem;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin: .7rem 0;
    width: 100%;
}

.contact6 .row6 form .box:focus{
    border-color: var(--pink);
}

.contact6 .row6 form textarea{
    height: 15rem;
    resize: none;
}

.footer6 .box-container6{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer6 .box-container6 .box6{
    flex:1 1 25rem;
}

.footer6 .box-container6 .box6 h3{
    color:#333;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer6 .box-container6 .box6 a{
    display: block;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer6 .box-container6 .box6 a:hover{
    color: var(--pink);
    text-decoration: underline;
}

.footer6 .credit6{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #333;
    border-top: .1rem solid rgba(0,0,0,.1);
}

.footer6 .credit6 span{
    color: var(--pink);
}


/* custom CSS rules for "pagina7.html" */

:root{
    --blue: #8cacba;
}




html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 51, 153,.05);
}

.heading span{
    color: var(--blue);
}

.btn1{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: var(--blue);
}

section{
    padding: 2rem 9%;
}

header{
    position:fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0.5rem 1rem rgba(0,0,0.1);
}

header.logo{
    font-size: 3rem;
    color: #333;
    font-weight:lighter;
}

header.logo span{
    color: var(--blue)
    
}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}

header .navbar a:hover{
    color: var(--blue);
}

header .icons a{
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color: var(--blue);
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5 rem;
    cursor: pointer;
    border: 1rem solid rgba(0, 0, 0, 0,3);
    display: none;
}

.home7{
    display: flex;
    align-items: center;
    min-height: 130vh;
    background: url(../img/la\ boca.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home7 .content7{
    max-width: 50rem;
}

.home7 .content7 h3{
    font-size: 6rem;
    color: #333;
}

.home7 .content7 span{
    font-size: 5rem;
    color: var(--blue);
    padding: 1rem 0;
    line-height: 1.5;
}

.home7 .content7 p{
    font-size: 1.5rem;
    color:#000000;
    padding: 0.5rem;
    line-height: 1.5rem;
}

.about .row7{
    display:flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2 rem 0;
    padding-bottom: 3rem;
}

.about .row7 .image7{
    flex: 2 2 40rem;
    position: static;
}

.about .row7 .image7{
    width: 100%;
    border: 1rem solid #fff;
    border-radius: .2rem;
    height: 100%;
    object-fit:cover;
}

.about .row7 .content7{
    flex: 1 1 40rem;
}

.about .row7 .content7 h3{
    font-size: 5rem;
    color: #333;
}

.about .row7 .content7 p{
    font-size: 1.5rem;
    color: #999;
    padding: .5rem;
    padding-top: 1.5rem;
    line-height: 1.5rem;
}


.text7 .row7{
    display:flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2 rem 0;
    padding-bottom: 3rem;
}

.text7 .row7 .image7{
    flex: 2 2 40rem;
    position: static;
}

.text7 .row7 .image7{
    width: 100%;
    border: 1rem solid #fff;
    border-radius: .2rem;
    height: 100%;
    object-fit:cover;
}

.text7 .row7 .content7{
    flex: 1 1 40rem;
}



.text7 .row7 .content7 p{
    font-size: 1.5rem;
    color: #999;
    padding: .5rem;
    padding-top: 1.5rem;
    line-height: 1.5rem;
}

.text7 .row7 .content7 p1{
    font-size: 1.5rem;
    color: #999;
    padding: .5rem;
    padding-top: 1.5rem;
    line-height: 1.5rem;
}

.review .box-container7{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.review .box-container7 .box7{
    flex: 1 1 30rem;
    box-shadow: 0.5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
}

.review .box-container7 .box7 .fa-quote-right{
    position: absolute;
    bottom: 3rem; right:3rem;
    font-size: 6rem;
    color: #eee;
}

.review .box-container7 .box7 .stars i{
    color: var(--pink);
    font-size: 2rem;

}

.review .box-container7 .box7 p{
    color: #999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
    
}


.review .box-container7 .box7 .user{
    display: var(--pink);
    align-items: center;
    padding: 2rem;
    
}

.review .box-container7 .box7 .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;

}

.review .box-container7 .box7 .user h3{
    font-size: 2rem;
    color:#333;
}

.review .box-container7 .box7 .user h3{
    font-size: 1.5rem;
    color:#999;
}

.contact7 .row7{
    display: flex;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
    align-items: center;
}

.contact7 .row7 form{
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border: 1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}

.contact7 .row7 .image7{
    flex: 1 1 40rem;
}

.contact7 .row7 .image7 img{
    width: 100%;
}

.contact7 .row7 form .box{
    padding:1rem;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin: .7rem 0;
    width: 100%;
}

.contact7 .row7 form .box:focus{
    border-color: var(--pink);
}

.contact7 .row7 form textarea{
    height: 15rem;
    resize: none;
}

.footer7 .box-container7{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer7 .box-container7 .box7{
    flex:1 1 25rem;
}

.footer7 .box-container7 .box7 h3{
    color:#333;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer7 .box-container7 .box7 a{
    display: block;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer7 .box-container7 .box7 a:hover{
    color: var(--pink);
    text-decoration: underline;
}

.footer7 .credit7{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #333;
    border-top: .1rem solid rgba(0,0,0,.1);
}

.footer7 .credit7 span{
    color: var(--pink);
}








